/* ================================
        About Us
================================ */
#about {
  h1 {
    text-align: center;
  }

  p {
    color: $textGray;

    span {
      color: $lightBlue;
    }
  }
}

#ellen {
  background-color: $lightGray;
  margin: 40px -10px 20px;
  padding: 20px;
}

#fred {
  background-color: $lightGray;
  margin: 20px -10px 40px;
  padding: 20px;

  a {
    color: $textGray;
  }
}
