/* ================================
        Heroes
================================ */
#hero-1 {
  color: $white;
  text-align: center;

  #blue-order{
    background-color: $lightBlue;
    border: 0px;
    padding: 10px 5px;
    color: $white;
  }

  #read-more{
    color: $white;
    border: 0px;
  }
}

#hero1-image{
  background-image: url('../img/hero/hero-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 312px;
  width: 629px;
  margin-left: -122px;
  margin-top: -200px;
}

#hero-2{
  text-align: center;
  background-color: $lightGray;
  padding-bottom: 20px;

  p{
    color: $textGray;
  }
}

#hero2-image{
  background-color: $lightGray;
  background-image: url('../img/hero/hero-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 261px;
  width: 298px;
  margin-top: -570px;
  margin-left: 35px;
  margin-bottom: 380px;
}

#mobile-text{
  text-align: left;
  margin-top: 340px;
  margin-bottom: 40px;
}
