/* ================================
        Order Now
================================ */
#order {
  display: grid;
  grid-template-columns: 10px auto 10px;
  background-color: blue;
  grid-template-areas:
  ". header ."
  ". nav .";

  > div {
    grid-area: header;
  }

  > a {
    background-color: white;
    grid-area: nav;
  }
}
