/* ================================
        Order Now
================================ */
#order {
  background-color: $lightBlue;
  color: $white;
  padding: 20px 0px 40px;
}

a{
  color: $white;
  border: 2px solid $white;
  padding: 10px 30px;
}
