/* ================================
        Pricing
================================ */
#price {
  display: grid;
  grid-template-columns: 10px auto 10px;
  background-color: gray;
  grid-template-areas:
  ". title ."
  ". value ."
  ". benefits .";

  > #cost {
    grid-area: title;
  }

  > #total {
    background-color: blue;
    grid-area: value;
  }

  > ul {
    background-color: white;
    grid-area: benefits;
  }
}
