/* ================================
        Footer css
================================ */
footer {
  display: grid;
  grid-template-columns: 10px auto auto auto 10px;
  background-color: $white;
  grid-template-areas:
  ". cruquius netherlands email ."
  " . tag tag tag .";

  > #cruquius {
    grid-area: cruquius;
  }

  > #netherlands {
    grid-area: netherlands;
  }

  > #email {
    grid-area: email;
  }

  > #tag {
    grid-area: tag;
  }
}
