/* ================================
        Footer css
================================ */
footer {
  display: grid;
  grid-template-columns: 10px auto auto auto 10px;
  background-color: $white;
  color: $textGray;
  grid-template-areas: ". cruquius netherlands email ." " . tag tag tag .";

  > #cruquius {
    grid-area: cruquius;
    text-align: left;
  }

  > #netherlands {
    grid-area: netherlands;
    text-align: center;
  }

  > #email {
    grid-area: email;
    text-align: right;
    color: $lightBlue;
  }

  > #tag {
    grid-area: tag;
    text-align: center;
  }

  span {
    color: $lightBlue;
  }
}
